<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content" class="container-md">
    <h1>User Sign Up Page</h1>
    <hr>
    <form action="/user/signup" method="post">
        <div class="mb-3">
            <label for="e" class="form-label">Email</label>
            <input type="text" class="form-control" name="email" id="e" placeholder="email...">
        </div>
        <div class="mb-3">
            <label for="p" class="form-label">Password</label>
            <input type="text" class="form-control" name="pwd" id="p" placeholder="password...">
        </div>
        <div class="mb-3">
            <label for="n" class="form-label">Nickname</label>
            <input type="text" class="form-control" name="nickName" id="n" placeholder="nickname...">
        </div>
<button type="submit" class="btn btn-primary" id="regBtn">register</button>
    </form>
</div>